[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydocstyle = "*"
flake8 = "*"
pylint = "*"
pep8 = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-restful = "*"
pyarango = "*"
flask-cors = "*"
protobuf = "*"
python-dotenv = "*"

[scripts]
server = "flask run"
init_db = "python -m content_creation_db.db.main"
gen_proto = "protoc --python_out='.' content_creation_db/protos/*.proto"

[requires]
python_version = "3.6"
